{% extends 'base.html' %}
    {% block body %}
    <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
          <li class="search">
          
        </ul>
    </nav>
    <h3 style="width:900px; margin: 80px auto; line-height: 2.5; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">
        A "Todo list" is a tool used to manage tasks or activities that need to be completed within a specific time frame. A typical Todo list consists of a list of tasks to be completed, along with relevant details such as deadlines, priority, and status updates.

Using a Todo list can help individuals stay organized and focused, and reduce stress and anxiety by providing a clear plan of action. Todo lists can be used for personal or professional purposes, and can be created in a physical notebook or with various digital tools and apps.

To make the most of a Todo list, it is important to prioritize tasks and regularly review and update the list as necessary. It is also helpful to break down larger tasks into smaller, more manageable ones, and to assign deadlines and specific actions to each task.

Overall, a Todo list can be a powerful tool for improving productivity and achieving goals, whether in daily life or in a professional setting.
    </h3>
    {% endblock body %}